# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt

# Artifacts
*.zip
lambda_build/
build/
dist/
terraform/layer_build/
terraform/dcr_layer.zip
*.log
*.json
keys.txt
scripts/

# IDE
.vscode/
.idea/
.DS_Store