# Core dependencies
boto3>=1.35.0
mcp>=1.9.0

# AgentCore SDK for deployment
bedrock-agentcore-starter-toolkit
bedrock-agentcore


# Syntheticdata MCP Server
awslabs.syntheticdata-mcp-server

# For testing
#streamable-http-sigv4
